* { /* убираем дефолтные отступы*/
	padding: 0px;
	margin: 0px;
}
body {
	background: #fefefe;
	color: #424242;
	font-family: "Open Sans", arial, sans-serif;
	font-size: 18px;
	margin: 0px auto;
	position: relative;
	width: 1200px;
	min-width: 1200px;
	display: table;
}
a {
	color: #F03838;
	text-decoration: none;
}
a:hover {
	color: #4e4e4e;
}
header{
	padding: 100px 0px 0px;
	overflow: auto;
	text-align: center;
	text-transform: uppercase;
	margin: 0px auto;
}
header h1 {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	background: none repeat scroll 0% 0% #F03838;
	color: #FEFEFE;
	padding: 5px 10px 6px;
}
section {
	position: relative;
	float: left;
	width: 900px;
}
.side {
	float: right;
	width: 250px;
	border: 2px solid #eee;
}
.title {
	padding: 5px 0px 0px 10px; 
}
.side ul {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 10px; 
	list-style: outside none none;
}
article h2 {
	margin: 0px 0px 50px;
	padding: 0px 0px 40px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px dashed #eee;
}
article img {
	width: 600px;
	height: 400px;
	display: block;
	text-align: center;
	margin: 0px auto;
	padding: 5px;
	border: 2px solid #eee;
}
aside {
	text-align: right;
	color: #999;
	font-size: 14px;
	line-height: 1;
}
aside time {
	color: #aeadad;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	margin: 25px 0px 0px
}
.article img:hover {
	border: 2px solid #ccc;
}
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.button-squere {
	background: none repeat scroll 0% 0% #F03838;
	color: #fff;
	display: inline-block;
	font-size: 17px;
	margin: 0px 0px 0px 10px;
	padding: 1px 8px 6px;
}
.button-squere:hover {
	background: #4e4e4e;
	color:#fff;
}
.nav {
	color: #F03838;
	list-style: outside none none;
	text-align: center;
	margin: 28px auto;
}
.nav-item {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	margin: 0px 10px;
	cursor: pointer;
}
.active {
	color: #4e4e4e;
}
.last-post {
	margin: 0 auto;
}
.text {
	margin-top: 40px;
}